<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="PublicKey" value="MIICwjCCAaqgAwIBAgIQAPqKvM3OCjHw4wQu0ErWITANBgkqhkiG9w0BAQ0FADAcMRowGAYDVQQD
 
DBF2YXlvby5vdXRzZXRhLmNvbTAgFw0xOTA2MDUwODQzMTdaGA8yMTE5MDYwNTA4NDMxN1owHDEa
 
MBgGA1UEAwwRdmF5b28ub3V0c2V0YS5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIB
 
AQCAIkLX11eiJtK/ghQw2uk2Uv3V6Hm2GOMznvpQsbWwdgPUTReQSA7o2OjsVd0UHydNglow2Jqi
 
AhiO9wqqYP5ZfnMniplwqf1YhXhi3DAk1HiIooSmvnCCBfZMBR/NfhzxMSxMI4ZaAQ6mf88WYZW8
 
29QaZlBonqc07JkXbGlt735rGTwjc6Qx5zE0LBDk61Pj5i5JKTcZr9uez+MtMOotsLb+haiz9fnD
 
nUIH0i4oc1kf42vnSpBdQhnvviC/5qRMmOJtO4li8pR6pXBLi4aTNMGP8wWF2gjNXTEnd7uXNmSH
 
euntEd8jwZcBrZCyOkNcRYFVkLetjfNxvss6OBX5AgMBAAEwDQYJKoZIhvcNAQENBQADggEBAGJJ
 
aX6E08AFOe86y+K3Fvt2JM611qxRIwJ9BMsxWMHo7d4XQHquIYTktA1W6vPHKlJ5nO0jsJHiWcl9
 
eyIQnoxAYhhH5qT2FKhx+vyMCKy5XV7K8ykfnQjRcNCJXk4+rwcDaz+RfNfXZrAo+dH2GwOnkwv2
 
RBXKMKZK6PbkWTaDUn4MlvfJGA/roFQohOckkiu1MNOJAwTVzm9s98zewnfhaJEB555eFRoYmpuU
 
jws6vql5HGofU0QBUNCYncuE/4yYZLxcQW6nCqdGlAXRro03E/lSuday/XO+PyEF8OL1ykFVu5vf
 
mLJpddffkGOND5OZG20naAkv9uv+KmMnnq4="/>
  </appSettings>
</configuration>